doctype html
html
  head
    title Photo Geotagger
    link(rel="stylesheet" href="../public/style.css")
  body
    script(src='../public/exif.js')
    script(src='../public/index.js')
    script(
      src='https://maps.googleapis.com/maps/api/js?key=' + GOOGLE_API_KEY + '&libraries=places&callback=initAutocomplete', 
      async='', 
      defer=''
    )

    #left-col
      input#search-input.controls(type='text', placeholder='Search')
      #map
    #right-col
      input(type='file', onchange='readURL(this);', multiple='', style='clear: none;')
      div#progress 0/0
      iframe#dummyframe(name='dummyframe', style='display:none;')
      form#exifForm(method='POST', action='', target='dummyframe')
        input#lat(name='lat', style='clear: none;', type='number', placeholder='Latitude')
        input#lng(name='lng', style='clear: none;', type='number', placeholder='Longitude')
        button(onclick='next(this);', type='button') Next
      div#current-wrapper
        img#current(onload='currentLoaded(this);', src='#', alt='your image')
        div#loader-container
          div.loader Loading...
    img#next1.off-screen(src='#')
    img#next2.off-screen(src='#')
    img#next3.off-screen(src='#')
    img#next4.off-screen(src='#')
    img#next5.off-screen(src='#')
